﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="maincontent">

    </div>
</body>
</html>

<!--To create this have to uncheck "Use default layout"-->
