﻿@model IEnumerable<MvcMusicStore.Models.Album>
@{
    ViewData["Title"] = "AlbumList";
    Layout = "~/Views/shared/Basesites.cshtml";
}

<h1>AlbumList</h1>
<ul>
    @foreach(var item in Model)
    {
        <li>@item.Title</li>
    }
</ul>

