﻿
@{
    ViewData["Title"] = "Sample";
}

<html>
    <head></head>
    <body>
        <h1>@ViewBag.message</h1>
        <p>
            This is a sample viewbag property example.
        </p>
    </body>
</html>

